#  Introduction to Ensembling/Stacking in Python
https://www.kaggle.com/arthurtok/introduction-to-ensembling-stacking-in-python

refernece:https://www.kaggle.com/mmueller/stacking-starter

https://www.kaggle.com/sinakhorami/titanic-best-working-classifier

In [1]:
print("hello,ensemble")

hello,ensemble

In [24]:
dp="./input/"
import os
import pandas as pd
import numpy as np
import re

In [101]:
train=pd.read_csv(os.path.join(dp,"train.csv"),dtype={"Age":np.float})
test=pd.read_csv(os.path.join(dp,"test.csv"),dtype={"Age":np.float})
print("train shape:{}".format(train.shape))
print("test shape:{}".format(test.shape))
print(train.info())
print("=================================")
print(test.info())

train shape:(891, 12)
test shape:(418, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
=================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [102]:
#Pclass,class=1>class=2>class=3
print(train.loc[:,["Pclass","Survived"]].groupby("Pclass",as_index=False).mean())

print("===================")
#sex
print(train.loc[:,["Sex","Survived"]].groupby("Sex",as_index=False).mean())

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363
===================
      Sex  Survived
0  female  0.742038
1    male  0.188908

In [103]:
fulldata=[train,test]
for dataset in fulldata:
    dataset["FamilySize"]=dataset["SibSp"]+dataset["Parch"]+1
print (train[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean())

   FamilySize  Survived
0           1  0.303538
1           2  0.552795
2           3  0.578431
3           4  0.724138
4           5  0.200000
5           6  0.136364
6           7  0.333333
7           8  0.000000
8          11  0.000000

In [104]:
for dataset in fulldata:
    dataset["isAlone"]=0
    dataset.loc[dataset.FamilySize==1,"isAlone"]=1
print(train[["isAlone","Survived"]].groupby("isAlone",as_index=False).mean())

   isAlone  Survived
0        0  0.505650
1        1  0.303538

In [105]:
for dataset in fulldata:
    dataset["Embarked"]=dataset["Embarked"].fillna("S")
    
print(train[["Embarked","Survived"]].groupby("Embarked",as_index=False).mean())

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [106]:
for dataset in fulldata:
    dataset["Fare"]=dataset["Fare"].fillna(dataset.Fare.median())
    dataset["CatogoricalFare"]=pd.qcut(dataset["Fare"],4)
print(train[["CatogoricalFare","Survived"]].groupby("CatogoricalFare",as_index=False).mean())

  CatogoricalFare  Survived
0       [0, 7.91]  0.197309
1  (7.91, 14.454]  0.303571
2    (14.454, 31]  0.454955
3   (31, 512.329]  0.581081

In [107]:
for dataset in fulldata:
    age_avg=dataset.Age.mean()
    print(age_avg)
    age_std=dataset.Age.std()
    print(age_std)
    age_null_sum=dataset.Age.isnull().sum()
    print(age_null_sum)
    age_num_random_list=np.random.randint(age_avg-age_std,age_avg+age_std,size=age_null_sum)
    
    dataset["Age"][np.isnan(dataset["Age"])]=age_num_random_list
    dataset["Age"]=dataset.Age.astype(int)
    dataset["CategoricalAge"]=pd.cut(dataset.Age,5)
print (train[['CategoricalAge', 'Survived']].groupby(['CategoricalAge'], as_index=False).mean())

29.6991176471
14.5264973323
177
30.2725903614
14.1812092356
86
  CategoricalAge  Survived
0    (-0.08, 16]  0.482456
1       (16, 32]  0.360802
2       (32, 48]  0.379032
3       (48, 64]  0.434783
4       (64, 80]  0.090909

/Users/zhangyihong/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [108]:
def get_title(name):
    title_search=re.search(" ([A-Za-z]+)\.",name)
    if title_search:
        return title_search.group(1)
    return ""

for dataset in fulldata:
    dataset["Title"]=dataset["Name"].apply(get_title)
    
print(pd.crosstab(train["Title"],train["Sex"]))

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [109]:
for dataset in fulldata:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
                                                 'Don', 'Dr', 'Major', 'Rev', 'Sir', \
                                                 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace(['Mlle','Ms'], 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

print (train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean())

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.347826

In [44]:
test.Sex.drop_duplicates()

0      male
1    female
Name: Sex, dtype: object

In [110]:
for dataset in fulldata:
    dataset['Sex'] = dataset.Sex.map({'female': 0, 'male': 1} ).astype(int)
    
    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
    
        # Mapping Embarked
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
    
    # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
    # Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 4
    
    # Feature Selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp',\
                 'Parch', 'FamilySize']
train = train.drop(drop_elements, axis = 1)
train = train.drop(['CategoricalAge', 'CatogoricalFare'], axis = 1)

test  = test.drop(drop_elements, axis = 1)
test = test.drop(['CategoricalAge', 'CatogoricalFare'], axis = 1)
print(test.head())
train = train.values
test  = test.values

   Pclass  Sex  Age  Fare  Embarked  isAlone  Title
0       3    1    2     0         2        1      1
1       3    0    2     0         0        0      3
2       2    1    3     1         2        1      1
3       3    1    1     1         0        1      1
4       3    0    1     1         0        0      3

In [111]:
test

array([[3, 1, 2, ..., 2, 1, 1],
       [3, 0, 2, ..., 0, 0, 3],
       [2, 1, 3, ..., 2, 1, 1],
       ...,
       [3, 1, 2, ..., 0, 1, 1],
       [3, 1, 0, ..., 0, 1, 1],
       [3, 1, 1, ..., 1, 0, 4]])